@use 'styles/tokens' as *;

.color-dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.full-width { width: 100%; }

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
