@use './tokens' as *;

// Helpers reutilizables
.text-truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-truncate-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mb-section {
  margin-bottom: $spacing-xl;
}

.mt-section {
  margin-top: $spacing-xl;
}
